<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>

<body>
    <header>
        <h1>Welcome to contact page</h1>
    </header>
    <main>
        <div>
            <p>Please give your details here</p>
            <form action="/contact" method="POST">
                <input type="text" name="name" placeholder="Enter your name" />
                <input type="email" name="email" placeholder="Enter your Email" />
                <input type="Submit" />
            </form>
        </div>
    </main>
</body>

</html>